html {
  color-scheme: light dark;
  color: var(--color-ink);
  background: var(--color-surface);
  accent-color: var(--color-accent);
}


html[data-theme=light] {
  color-scheme: light;
}

html[data-theme=dark] {
  color-scheme: dark;
}

hr {
  color: var(--color-separator);
}
a {
  color: var(--color-anchor);
  transition: all 200ms;
  &:hover, &:focus-visible {
    color: var(--color-anchor-hover);
    text-decoration: none;
  }
  &:active {
    color: var(--color-anchor-active);
  }
}



.muted {
  color: var(--color-ink-muted);
}

.surface {
  background: light-dark(var(--color-gray-1), var(--color-gray-13));
  padding: var(--spacing-2);
}

.well {
  background: light-dark(var(--color-gray-3), var(--color-gray-15));
  padding: 1lh;
}

