button,
input[type="submit"],
input[type="reset"],
input[type="clear"],
input[type="button"],
[role="button"],
input[type="file"]::file-selector-button {
  --_display: inline-flex;
  --_text-align: center;

  display: var(--_display);
  font-family: inherit;
  transition: all 200ms;
  padding-block: var(--spacing-button-block-size);
  padding-inline: var(--spacing-button-inline-size);
  border-width: var(--border-button-size);
  border-style: solid;
  border-color: var(--color-primary-10);
  background-color: var(--color-primary-10);
  border-radius: var(--radius-button-size);
  color: var(--color-gray-2);
  font-weight: 600;
  text-align: var(--_text-align);

 
}


button,
input[type="submit"],
input[type="reset"],
input[type="clear"],
input[type="button"],
[role="button"],
input[type="file"]::file-selector-button {
  &:hover,
  &:focus-visible {
    background-color: var(--color-primary-9);
    border-color: var(--color-primary-9);
  }

  &:active {
    background-color: var(--color-primary-11);
    border-color: var(--color-primary-11);
  }
}
