details {
padding: 0;

}

details > summary[role="button"] {
  --_text-align: initial;
  --_display: list-item;

}

details > summary[role="button"] {
  --_icon-rotation: rotate(0deg);
  position: relative;
  transition: all 200ms;
  padding-inline-end: calc(var(--button-padding-size) * var(--button-padding-pow) + var(--icon-size) * 2);
  

}



details > summary::after {
  background-color: currentColor;
  content: "";
  transition: all 200ms;
  mask-image: var(--icon-chevron-right);
  mask-size: contain;
  mask-position: 50% 50%;
  mask-repeat: no-repeat;
  block-size: var(--icon-size);
  inline-size: var(--icon-size);
  block-size: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  right: calc(var(--button-padding-size) * var(--button-padding-pow));
  transform: var(--_icon-rotation);
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary::marker {
  content: "";
}

details[open] > summary:first-of-type {
  background-color: var(--color-primary-9);
  border-color: var(--color-primary-9);
}



details[open] > summary {
  --_icon-rotation: rotate(90deg);
}

[role="group"] > details + details {
  margin-block-start: var(--spacing-4xs);
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(calc(-1 * var(--spacing-4xs)));
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

details > div {
  border-radius: var(--input-radius-size);
  background: var(--color-surface-bright);
  margin-block-start: var(--spacing-4xs);
  padding: calc(var(--button-padding-size) * var(--button-padding-pow));
  border: var(--input-border-size) solid var(--color-separator);
}

details[open] > div {
  animation-name: fadeInDown;
  animation-duration: 400ms;
}
