:where(body) {
  font-size: var(--font-size-sm);
}

:where(h1) {
  font-size: var(--font-size-2xl);
}

:where(h2) {
  font-size: var(--font-size-xl);
}

:where(h3) {
  font-size: var(--font-size-lg);
}

:where(h4) {
  font-size: var(--font-size-md);
}

:where(h5) {
  font-size: var(--font-size-sm);
}


mark {
  --primary-hue: var(--hue-yellow);
  background: var(--color-surface-highlight);
  padding: 0.015ex 0.25ch;
}

strike {
  --primary-hue: var(--hue-red);
  text-decoration-line: line-through;
  text-decoration-color: var(--color-primary-8);
}

ins {
  --primary-hue: var(--hue-green);

  color: var(--color-ink-primary);
}

code {
  background-color: var(--color-surface-dim);
  border-radius: 0.15em;
}

pre code {
  background-color: unset;
  border-radius: unset;
}

code,
kbd {
  color: var(--color-ink-contrast);
  padding: 0.015ex 0.25ch;
}

kbd {
  outline: var(--input-border-size) solid var(--color-separator);
  outline-offset: 1px;
}
