:where(html) {
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :where(html) {
      color-scheme: dark;
  }
}

:where([data-theme="light"]) {
  color-scheme: light;
}

:where([data-theme="dark"]) {
  color-scheme: dark;
}