* {
  --color-secondary-1: oklch(
    var(--lightness-1) calc(0.03 * var(--secondary-chroma))
      calc(var(--secondary-hue) + (0 * var(--secondary-hue-rotation)))
  );
  --color-secondary-2: oklch(
    var(--lightness-2) calc(0.06 * var(--secondary-chroma))
      calc(var(--secondary-hue) + (1 * var(--secondary-hue-rotation)))
  );
  --color-secondary-3: oklch(
    var(--lightness-3) calc(0.1 * var(--secondary-chroma))
      calc(var(--secondary-hue) + (2 * var(--secondary-hue-rotation)))
  );
  --color-secondary-4: oklch(
    var(--lightness-4) calc(0.12 * var(--secondary-chroma))
      calc(var(--secondary-hue) + (3 * var(--secondary-hue-rotation)))
  );
  --color-secondary-5: oklch(
    var(--lightness-5) calc(0.16 * var(--secondary-chroma))
      calc(var(--secondary-hue) + (4 * var(--secondary-hue-rotation)))
  );
  --color-secondary-6: oklch(
    var(--lightness-6) calc(0.19 * var(--secondary-chroma))
      calc(var(--secondary-hue) + (5 * var(--secondary-hue-rotation)))
  );
  --color-secondary-7: oklch(
    var(--lightness-7) calc(0.2 * var(--secondary-chroma))
      calc(var(--secondary-hue) + (6 * var(--secondary-hue-rotation)))
  );
  --color-secondary-8: oklch(
    var(--lightness-8) calc(0.21 * var(--secondary-chroma))
      calc(var(--secondary-hue) + (7 * var(--secondary-hue-rotation)))
  );
  --color-secondary-9: oklch(
    var(--lightness-9) calc(0.2 * var(--secondary-chroma))
      calc(var(--secondary-hue) + (8 * var(--secondary-hue-rotation)))
  );
  --color-secondary-10: oklch(
    var(--lightness-10) calc(0.19 * var(--secondary-chroma))
      calc(var(--secondary-hue) + (9 * var(--secondary-hue-rotation)))
  );
  --color-secondary-11: oklch(
    var(--lightness-11) calc(0.17 * var(--secondary-chroma))
      calc(var(--secondary-hue) + (10 * var(--secondary-hue-rotation)))
  );
  --color-secondary-12: oklch(
    var(--lightness-12) calc(0.15 * var(--secondary-chroma))
      calc(var(--secondary-hue) + (11 * var(--secondary-hue-rotation)))
  );
  --color-secondary-13: oklch(
    var(--lightness-13) calc(0.12 * var(--secondary-chroma))
      calc(var(--secondary-hue) + (12 * var(--secondary-hue-rotation)))
  );
  --color-secondary-14: oklch(
    var(--lightness-14) calc(0.09 * var(--secondary-chroma))
      calc(var(--secondary-hue) + (13 * var(--secondary-hue-rotation)))
  );
  --color-secondary-15: oklch(
    var(--lightness-15) calc(0.07 * var(--secondary-chroma))
      calc(var(--secondary-hue) + (14 * var(--secondary-hue-rotation)))
  );
  --color-secondary-16: oklch(
    var(--lightness-16) calc(0.05 * var(--secondary-chroma))
      calc(var(--secondary-hue) + (15 * var(--secondary-hue-rotation)))
  );
}
