* {
  --color-utility-1: oklch(
    var(--lightness-1) calc(0.03 * var(--utility-chroma))
      calc(var(--utility-hue) + (0 * var(--utility-hue-rotation)))
  );
  --color-utility-2: oklch(
    var(--lightness-2) calc(0.06 * var(--utility-chroma))
      calc(var(--utility-hue) + (1 * var(--utility-hue-rotation)))
  );
  --color-utility-3: oklch(
    var(--lightness-3) calc(0.1 * var(--utility-chroma))
      calc(var(--utility-hue) + (2 * var(--utility-hue-rotation)))
  );
  --color-utility-4: oklch(
    var(--lightness-4) calc(0.12 * var(--utility-chroma))
      calc(var(--utility-hue) + (3 * var(--utility-hue-rotation)))
  );
  --color-utility-5: oklch(
    var(--lightness-5) calc(0.16 * var(--utility-chroma))
      calc(var(--utility-hue) + (4 * var(--utility-hue-rotation)))
  );
  --color-utility-6: oklch(
    var(--lightness-6) calc(0.19 * var(--utility-chroma))
      calc(var(--utility-hue) + (5 * var(--utility-hue-rotation)))
  );
  --color-utility-7: oklch(
    var(--lightness-7) calc(0.2 * var(--utility-chroma))
      calc(var(--utility-hue) + (6 * var(--utility-hue-rotation)))
  );
  --color-utility-8: oklch(
    var(--lightness-8) calc(0.21 * var(--utility-chroma))
      calc(var(--utility-hue) + (7 * var(--utility-hue-rotation)))
  );
  --color-utility-9: oklch(
    var(--lightness-9) calc(0.2 * var(--utility-chroma))
      calc(var(--utility-hue) + (8 * var(--utility-hue-rotation)))
  );
  --color-utility-10: oklch(
    var(--lightness-10) calc(0.19 * var(--utility-chroma))
      calc(var(--utility-hue) + (9 * var(--utility-hue-rotation)))
  );
  --color-utility-11: oklch(
    var(--lightness-11) calc(0.17 * var(--utility-chroma))
      calc(var(--utility-hue) + (10 * var(--utility-hue-rotation)))
  );
  --color-utility-12: oklch(
    var(--lightness-12) calc(0.15 * var(--utility-chroma))
      calc(var(--utility-hue) + (11 * var(--utility-hue-rotation)))
  );
  --color-utility-13: oklch(
    var(--lightness-13) calc(0.12 * var(--utility-chroma))
      calc(var(--utility-hue) + (12 * var(--utility-hue-rotation)))
  );
  --color-utility-14: oklch(
    var(--lightness-14) calc(0.09 * var(--utility-chroma))
      calc(var(--utility-hue) + (13 * var(--utility-hue-rotation)))
  );
  --color-utility-15: oklch(
    var(--lightness-15) calc(0.07 * var(--utility-chroma))
      calc(var(--utility-hue) + (14 * var(--utility-hue-rotation)))
  );
  --color-utility-16: oklch(
    var(--lightness-16) calc(0.05 * var(--utility-chroma))
      calc(var(--utility-hue) + (15 * var(--utility-hue-rotation)))
  );
}
