* {
  --color-primary-1: oklch(
    var(--lightness-1) calc(0.03 * var(--primary-chroma))
      calc(var(--primary-hue) + (0 * var(--primary-hue-rotation)))
  );
  --color-primary-2: oklch(
    var(--lightness-2) calc(0.06 * var(--primary-chroma))
      calc(var(--primary-hue) + (1 * var(--primary-hue-rotation)))
  );
  --color-primary-3: oklch(
    var(--lightness-3) calc(0.1 * var(--primary-chroma))
      calc(var(--primary-hue) + (2 * var(--primary-hue-rotation)))
  );
  --color-primary-4: oklch(
    var(--lightness-4) calc(0.12 * var(--primary-chroma))
      calc(var(--primary-hue) + (3 * var(--primary-hue-rotation)))
  );
  --color-primary-5: oklch(
    var(--lightness-5) calc(0.16 * var(--primary-chroma))
      calc(var(--primary-hue) + (4 * var(--primary-hue-rotation)))
  );
  --color-primary-6: oklch(
    var(--lightness-6) calc(0.19 * var(--primary-chroma))
      calc(var(--primary-hue) + (5 * var(--primary-hue-rotation)))
  );
  --color-primary-7: oklch(
    var(--lightness-7) calc(0.2 * var(--primary-chroma))
      calc(var(--primary-hue) + (6 * var(--primary-hue-rotation)))
  );
  --color-primary-8: oklch(
    var(--lightness-8) calc(0.21 * var(--primary-chroma))
      calc(var(--primary-hue) + (7 * var(--primary-hue-rotation)))
  );
  --color-primary-9: oklch(
    var(--lightness-9) calc(0.2 * var(--primary-chroma))
      calc(var(--primary-hue) + (8 * var(--primary-hue-rotation)))
  );
  --color-primary-10: oklch(
    var(--lightness-10) calc(0.19 * var(--primary-chroma))
      calc(var(--primary-hue) + (9 * var(--primary-hue-rotation)))
  );
  --color-primary-11: oklch(
    var(--lightness-11) calc(0.17 * var(--primary-chroma))
      calc(var(--primary-hue) + (10 * var(--primary-hue-rotation)))
  );
  --color-primary-12: oklch(
    var(--lightness-12) calc(0.15 * var(--primary-chroma))
      calc(var(--primary-hue) + (11 * var(--primary-hue-rotation)))
  );
  --color-primary-13: oklch(
    var(--lightness-13) calc(0.12 * var(--primary-chroma))
      calc(var(--primary-hue) + (12 * var(--primary-hue-rotation)))
  );
  --color-primary-14: oklch(
    var(--lightness-14) calc(0.09 * var(--primary-chroma))
      calc(var(--primary-hue) + (13 * var(--primary-hue-rotation)))
  );
  --color-primary-15: oklch(
    var(--lightness-15) calc(0.07 * var(--primary-chroma))
      calc(var(--primary-hue) + (14 * var(--primary-hue-rotation)))
  );
  --color-primary-16: oklch(
    var(--lightness-16) calc(0.05 * var(--primary-chroma))
      calc(var(--primary-hue) + (15 * var(--primary-hue-rotation)))
  );
}
