:root {
  /* Global Content */
  --border-focus-size: 2px;

  --border-separator-size: 1px;

  --icon-size: min(1em, 100%);

  /* Inline Text Elements */
  --spacing-tag-block-size: 0.15ex;
  --spacing-tag-inline-size: 0.15em;
  --radius-tag-size: 0.15em;

  /* Inputs (Sans Buttons)  */
  --spacing-input-block-size: var(--spacing-4xs);
  --spacing-input-inline-size: var(--spacing-2xs);

  --radius-input-size: 0.15em;
  --border-input-size: 1px;

  /* Buttons */
  --spacing-button-block-size: var(--spacing-4xs);
  --spacing-button-inline-size: var(--spacing-md);

  --radius-button-size: 0.15em;
  --border-button-size: 1px;
}
