:root {
  /* Global Content */

  --radius-default: .15em;
  --border-default: 1px;

  --border-width-focus: 2px;

  --border-width-separator: var(--border-default);

  --icon-size: 1em;

  

  /* Inline Text Elements */
  --spacing-badge-block: 0.15ex;
  --spacing-badge-inline: 0.15em;
  --radius-badge: 0.15em;

  /* Inputs (Sans Buttons)  */
  --spacing-input-block: var(--spacing-4xs);
  --spacing-input-inline: var(--spacing-2xs);

  --radius-input: var(--radius-default);
  --border-width-input: var(--border-default);

  /* Buttons */
  --spacing-button-block: var(--spacing-4xs);
  --spacing-button-inline: var(--spacing-md);

  --radius-button: var(--radius-default);
  --border-width-button: var(--border-default);

  --spacing-panel: var(--spacing-sm);
  --radius-panel: var(--border-default);

  --spacing-table: var(--spacing-xs);
  
}
