:root {

  --breakpoint-xs: 36rem;
  --breakpoint-sm: 48rem;
  --breakpoint-md: 64rem;
  --breakpoint-lg: 80rem;
  --breakpoint-xl: 92.5rem;


  --width-xs: 20ch;
  --width-sm: 30ch;
  --width-md: 45ch;
  --width-lg: 60ch;
  --width-xl: 72ch;

}
