@import "./palettes/hues.css";
@import "./palettes/palette.gray.css";
@import "./palettes/palette.primary.css";
@import "./palettes/palette.secondary.css";
@import "./palettes/palette.utility.css";
@import "./palettes/controls.css";

/* Logical color props */

:root {

  /* Foreground */

  --color-ink: light-dark(var(--color-gray-14), var(--color-gray-2));
  --color-ink-contrast: light-dark(var(--color-gray-16), var(--color-gray-1));
  --color-ink-muted: light-dark(var(--color-gray-10), var(--color-gray-5));
  --color-ink-primary: light-dark(
    var(--color-primary-10),
    var(--color-primary-5)
  );
  --color-ink-secondary: light-dark(
    var(--color-secondary-10),
    var(--color-secondary-5)
  );

  /* Background */

  --color-surface: light-dark(var(--color-gray-2), var(--color-gray-14));
  --color-surface-bright: light-dark(var(--color-gray-1), var(--color-gray-13));
  --color-surface-dim: light-dark(var(--color-gray-3), var(--color-gray-15));
  --color-surface-primary-highlight: light-dark(
    var(--color-primary-3),
    var(--color-primary-4)
  );
  --color-surface-secondary-highlight: light-dark(
    var(--color-secondary-3),
    var(--color-secondary-4)
  );

  /* Border */

  --color-separator: light-dark(var(--color-gray-5), var(--color-gray-11));
  --color-separator-highlight: light-dark(
    var(--color-gray-8),
    var(--color-gray-8)
  );

  /* Shadow */

  --color-shadow: light-dark(var(--color-gray-4), var(--color-gray-16));

  /* Focus state */

  --color-focus-outline: light-dark(
    var(--color-primary-10),
    var(--color-primary-6)
  );

  /* Form controls */

  --color-accent: light-dark(var(--color-primary-10), var(--color-primary-10));
  --color-checked: light-dark(var(--color-primary-2), var(--color-primary-2));

  /* anchor */
  
  --color-anchor: light-dark(var(--color-primary-10), var(--color-primary-5));
  --color-anchor-hover: light-dark(
    var(--color-primary-8),
    var(--color-primary-3)
  );
  --color-anchor-active: light-dark(
    var(--color-primary-12),
    var(--color-primary-7)
  );
}

/* Utility color constants */

* {
  --color-ink-utility: light-dark(
    var(--color-utility-10),
    var(--color-utility-5)
  );

  --color-surface-utility-highlight: light-dark(
    var(--color-utility-3),
    var(--color-utility-4)
  );
}
