@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(calc(-1 * var(--spacing-4xs)));
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes target {
  0% {
    outline-offset: -0.25em;
    outline-color: var(--color-accent);
    outline-width: 0.1em;
  }
  100% {
    outline-offset: 2em;
    outline-color: transparent;
    outline-width: 1em;
  }
}
