:where(html) {
  color: var(--color-ink);
  background: var(--color-surface);
  accent-color: var(--color-accent);
}

:where(body) {

  font-family: var(--font-family-default);
  font-size: var(--font-size-0);
}

:where(h1) {
  font-size: var(--font-size-4);
}

:where(h2) {
  font-size: var(--font-size-3);
}

:where(h3) {
  font-size: var(--font-size-2);
}

:where(h4) {
  font-size: var(--font-size-1);
}

:where(h5) {
  font-size: var(--font-size-0);
}

:where(mark) {
  --utility-hue: var(--hue-yellow);
  color: var(--color-ink-dark);
  background: var(--color-surface-utility-highlight);
  padding-block: var(--spacing-badge-block);
  padding-inline: var(--spacing-badge-inline);
}

:where(strike, del) {
  --utility-hue: var(--hue-red);
  text-decoration-line: line-through;
  text-decoration-color: var(--color-utility-8);
}

:where(ins) {
  --utility-hue: var(--hue-green);
  color: var(--color-ink-utility);
  text-decoration-style: double;
}

:where(code) {
  background-color: var(--color-surface-bright);
  border-radius: var(--radius-badge);
}

:where(code, kbd) {
  font-size: var(--font-size-code, 1em);
  color: var(--color-ink-contrast);
  padding-block: var(--spacing-badge-block);
  padding-inline: var(--spacing-badge-inline);
}

:where(pre code) {
  background-color: unset;
  border-radius: unset;
  padding-block: unset;
  padding-inline: unset;
}

:where(kbd) {
  outline: var(--border-width-separator) solid var(--color-separator);
  outline-offset: var(--border-width-separator);
}

:where(hr) {
  color: var(--color-separator);
}
:where(a) {
  color: var(--color-anchor);
  transition: all 200ms;
  &:hover,
  &:focus-visible {
    color: var(--color-anchor-hover);
    text-decoration: none;
  }
  &:active {
    color: var(--color-anchor-active);
  }
}

:where(ol, ul):not([role="list"]) {
  padding-inline-start: 2em;
}

:where(ol, ul):not([role="list"]) :where(ol, ul):not([role="list"]) {
  padding-inline-start: 1em;
}

:where(ol):not([role="list"]) :where(ol):not([role="list"]) {
  list-style-type: upper-alpha;
}

:where(ul):not([role="list"]) :where(ul):not([role="list"]) {
  list-style-type: disc;
}

:where(ol, ul):not([role="list"]) li::marker {
  color: var(--color-ink-primary);
}

:where(blockquote) {
  border-inline-start: var(--border-width-thick) solid var(--color-accent);
}

:where(figure:has(blockquote) blockquote) {
  margin-inline-start: unset;
  padding-inline-start: unset;
  border-inline-start: unset;
}

:where(figure:has(blockquote)) {
  margin-inline-start: 0;
  padding-inline-start: 1em;
  border-inline-start: var(--border-width-thick) solid var(--color-accent);
}


:where(figure:has(img, blockquote) figcaption) {
  font-size: var(--font-size-00);
  margin-block-start: var(--spacing-flow);
}


:focus-visible, :target {
  outline-width: var(--border-width-focus);
  outline-style: solid;
  outline-color: var(--color-accent);
  outline-offset: var(--border-width-focus);
  transition: outline-offset 200ms;
}

@media (prefers-reduced-motion: no-preference) {
  :target {
    outline-width: 0;
    animation: target 1s ease-out 2;
  }
}

::selection {
  background: color-mix(in oklch, var(--color-primary-8), transparent 70%);
}

:where(pre) {
  padding: 1em;
  overflow-x: auto;
}

:where(code, kbd, samp, pre) {

color: var(--color-ink-contrast);
  background-color: var(--color-surface-bright);
}



