:where(html) {
  color-scheme: light dark;
  color: var(--color-ink);
  background: var(--color-surface);
  accent-color: var(--color-accent);
}

:where(html[data-theme="light"]) {
  color-scheme: light;
}

:where(html[data-theme="dark"]) {
  color-scheme: dark;
}

:where(body) {
  font-size: var(--font-size-sm);
}

:where(h1) {
  font-size: var(--font-size-2xl);
}

:where(h2) {
  font-size: var(--font-size-xl);
}

:where(h3) {
  font-size: var(--font-size-lg);
}

:where(h4) {
  font-size: var(--font-size-md);
}

:where(h5) {
  font-size: var(--font-size-sm);
}

:where(mark) {
  --utility-hue: var(--hue-yellow);
  background: var(--color-surface-utility-highlight);
  padding-block: var(--spacing-badge-block);
  padding-inline: var(--spacing-badge-inline);
}

:where(strike, del) {
  --utility-hue: var(--hue-red);
  text-decoration-line: line-through;
  text-decoration-color: var(--color-utility-8);
}

:where(ins) {
  --utility-hue: var(--hue-green);
  color: var(--color-ink-utility);
  text-decoration-style: double;
}

:where(code) {
  background-color: var(--color-surface-dim);
  border-radius: var(--radius-badge);
}

:where(code, kbd) {
  color: var(--color-ink-contrast);
  padding-block: var(--spacing-badge-block);
  padding-inline: var(--spacing-badge-inline);
}

:where(pre code) {
  background-color: unset;
  border-radius: unset;
  padding-block: unset;
  padding-inline: unset;
}

:where(kbd) {
  outline: var(--border-width-separator) solid var(--color-separator);
  outline-offset: var(--border-width-separator);
}

:where(hr) {
  color: var(--color-separator);
}
:where(a) {
  color: var(--color-anchor);
  transition: all 200ms;
  &:hover,
  &:focus-visible {
    color: var(--color-anchor-hover);
    text-decoration: none;
  }
  &:active {
    color: var(--color-anchor-active);
  }
}

:where(ol, ul):not([role="list"]) {
  padding-inline-start: 2em;
}

:where(ol, ul):not([role="list"]) :where(ol, ul):not([role="list"]) {
  padding-inline-start: 1em;
}

:where(ol):not([role="list"]) :where(ol):not([role="list"]) {
  list-style-type: upper-alpha;
}

:where(ul):not([role="list"]) :where(ul):not([role="list"]) {
  list-style-type: disc;
}

:where(ol, ul):not([role="list"]) li::marker {
  color: var(--color-ink-primary);
}

:where(blockquote) {
  margin-inline-start: 0;
  padding-inline-start: 1em;
  border-inline-start: var(--border-width-thick) solid var(--color-accent);
}

:where(figcaption) {
  font-size: var(--font-size-xs);
  font-style: italic;
  margin-block-start: var(--spacing-flow);
  text-align: center;
}

:focus-visible, :target {
  outline-width: var(--border-width-focus);
  outline-style: solid;
  outline-color: var(--color-accent);
  outline-offset: var(--border-width-focus);
  transition: outline-offset 200ms;
}

@media (prefers-reduced-motion: no-preference) {
  :target {
    outline-width: 0;
    animation: target 1s ease-out 2;
  }
}

::selection {
  background: color-mix(in oklch, var(--color-primary-8), transparent 70%);
}
