button,
input[type="submit"],
input[type="reset"],
input[type="clear"],
input[type="button"],
[role="button"],
::-webkit-file-upload-button {
  --_display: inline-flex;
  --_justify-content: center;
  --_align-items: center;
  --_text-align: center;
  --_background-color: var(--color-primary-10);
  --_border-color: var(--color-primary-10);

  display: var(--_display);
  align-items: var(--_align-items);
  justify-content: var(--_justify-content);
  font-family: inherit;
  transition: color 200ms, background-color 200ms, border-color 200ms;
  padding-block: var(--spacing-button-block);
  padding-inline: var(--spacing-button-inline);
  border-width: var(--border-width-button);
  border-style: solid;
  border-color: var(--_border-color);
  background-color: var(--_background-color);
  border-radius: var(--radius-button);
  color: var(--color-gray-2);
  font-weight: 600;
  text-align: var(--_text-align);
}

a[role="button"] {
  text-decoration: none;
}

button:not([disabled]),
input[type="submit"]:not([disabled]),
input[type="reset"]:not([disabled]),
input[type="clear"]:not([disabled]),
input[type="button"]:not([disabled]),
[role="button"]:not([disabled]),
::-webkit-file-upload-button {
  &:hover,
  &:focus-visible {
    --_background-color: var(--color-primary-9);
    --_border-color: var(--color-primary-9);
  }

  &:active {
    --_background-color: var(--color-primary-11);
    --_border-color: var(--color-primary-11);
  }
}

button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="clear"][disabled],
input[type="button"][disabled]
input[type="file"][disabled],
[role="button"][disabled] {
  opacity: 0.8;
}
