:where(
    button,
    input[type="submit"],
    input[type="reset"],
    input[type="clear"],
    input[type="button"],
    [role="button"]
  ),
::-webkit-file-upload-button {
  --_display: inline-flex;
  --_justify-content: center;
  --_align-items: center;
  --_text-align: center;

  display: var(--_display);
  align-items: var(--_align-items);
  justify-content: var(--_justify-content);
  font-family: inherit;
  transition: all 200ms;
  padding-block: var(--spacing-button-block);
  padding-inline: var(--spacing-button-inline);
  border-width: var(--border-width-button);
  border-style: solid;
  border-color: var(--color-primary-10);
  background-color: var(--color-primary-10);
  border-radius: var(--radius-button);
  color: var(--color-gray-2);
  font-weight: 600;
  text-align: var(--_text-align);
}

:where(a[role="button"]) {
  text-decoration: none;
}

:where(
    button,
    input[type="submit"],
    input[type="reset"],
    input[type="clear"],
    input[type="button"],
    [role="button"]
  ):not([disabled]),
::-webkit-file-upload-button {
  &:hover,
  &:focus-visible {
    background-color: var(--color-primary-9);
    border-color: var(--color-primary-9);
  }

  &:active {
    background-color: var(--color-primary-11);
    border-color: var(--color-primary-11);
  }
}

:where(
    button,
    input[type="submit"],
    input[type="reset"],
    input[type="clear"],
    input[type="button"],
    [role="button"],
    ::-webkit-file-upload-button,
    ::file-selector-button
  )[disabled] {
  opacity: 0.8;
}
