:root {
  interpolate-size: allow-keywords;
}

details > summary {
  --_icon-rotation: rotate(0deg);
  position: relative;
  transition: all var(--duration-short);
  list-style-type: none;
  font-weight: var(--font-weight-bold, 700);

  padding-inline: var(--spacing-input-inline);
  padding-inline-end: var(--_icon-padding);
  padding-block: var(--spacing-input-block);
  border: var(--border-width-input) solid var(--color-separator);
  border-radius: var(--radius-input);

  &:hover,
  &:focus-visible {
    background-color: var(--color-surface-glare);
  }
}

details[open] > summary {
  background: var(--color-surface-glare);
  border-end-start-radius: 0;
  border-end-end-radius: 0;
  --_icon-rotation: rotate(90deg);
}

details > summary::after {
  background-color: currentColor;
  content: "";
  transition: transform var(--duration-short);
  mask-image: var(--icon-chevron-right);
  mask-size: contain;
  mask-position: 50% 50%;
  mask-repeat: no-repeat;

  inline-size: var(--icon-size);
  block-size: 100%;
  display: inline-block;
  position: absolute;
  transform: var(--_icon-rotation);
  top: 0;
  right: var(--spacing-input-inline);
}

details > div {
  border-radius: 0 0 var(--radius-input) var(--radius-input);
  background: var(--color-surface-glare);
  padding: var(--spacing-input-block) var(--spacing-input-inline);
  border: var(--border-width-input) solid var(--color-separator);
  border-block-start: 0;
}

details > div > * + * {
  margin-block-start: var(--spacing-flow);
}

details::details-content {
  opacity: 0;
  height: 0;
  overflow-y: clip;
  transition-property: content-visibility, opacity, height;
    transition-duration: var(--duration-short);
    transition-behavior: allow-discrete;
}

details[open]::details-content {
  opacity: 1;
  height: auto;
}

@starting-style {
  details[open]::details-content {
    opacity: 0;
    height: 0;
  }
}

details[name] + details[name] {
  margin-block-start: var(--spacing-sibling);
}
