details {
  padding: 0;
  overflow: hidden;
}


details > summary::-webkit-details-marker {
  display: none;
}

details > summary::marker {
  content: "";
}

details > summary {
  --_icon-rotation: rotate(0deg);
  position: relative;
  transition: all 200ms;
  display: list-item;
  font-weight: 600;
}



details > summary:not([role="button"]) {
  padding-inline: var(--spacing-input-inline);
  padding-inline-end: var(--_icon-padding);
  padding-block: var(--spacing-input-block);
  border: var(--border-width-input) solid var(--color-separator);
  border-radius: var(--radius-input);
}

details > summary:not([role="button"]) {
  &:hover, &:focus-visible {
    background-color: var(--color-surface-bright);
    /* border-color: var(--color-surface-bright); */
  }
}

details[open] > summary:not([role="button"]) {
  background: var(--color-surface-bright);
  border-end-start-radius: 0;
border-end-end-radius: 0;
}

details > summary::after {
  background-color: currentColor;
  content: "";
  transition: all 200ms;
  mask-image: var(--icon-chevron-right);
  mask-size: contain;
  mask-position: 50% 50%;
  mask-repeat: no-repeat;
  block-size: var(--icon-size);
  inline-size: var(--icon-size);
  block-size: 100%;
  display: inline-block;
  position: absolute;
  transform: var(--_icon-rotation);
  top: 0;
}

details > summary::after {
  right: var(--spacing-input-inline);
}

details[open] > summary {
  --_icon-rotation: rotate(90deg);
}



details > div {
  border-radius: 0 0 var(--radius-input) var(--radius-input);
  background: var(--color-surface-bright);
  /* margin-block-start: var(--spacing-sibling); */
  padding: var(--spacing-input-inline);
  border: var(--border-width-input) solid var(--color-separator);
}

details > div > * + * {
  margin-block-start: var(--spacing-flow);
}



/* details[open] > div {
  animation-name: fadeInDown;
  animation-duration: 400ms;
} */

details::details-content {
  block-size: 0;
  transition: block-size 400ms, content-visibility 400ms;
}

/* Separated to avoid LightningCSS bug */
details::details-content {
  transition-behavior: allow-discrete;
}

details[open]::details-content {
  block-size: auto;
}

/* Details Group */

details[name] + details[name] {
  margin-block-start: var(--spacing-sibling);
}

