dialog {
  opacity: 0;
  padding: 0;
  translate: 0 25vh;
  transition-duration: 400ms;
  transition-behavior: allow-discrete;
  overscroll-behavior: contain;
  border: var(--border-input) solid var(--color-separator);
  border-radius: var(--radius-input);
  box-shadow: var(--shadow-3);
  background-color: var(--color-surface-bright);
  inline-size: min(48rem, 100% - 4rlh);
  max-block-size: calc(100% - 4rlh);
}

dialog > :where(form, article) {
  display: flex;
  flex-direction: column;
}

dialog > :where(form, article) > div > * + * {
  margin-block-start: 1em;
}

dialog header,
dialog footer {
  padding: var(--spacing-card);
  padding-block: var(--spacing-xs);
  position: sticky;
  background: var(--color-surface-bright);
  z-index: 1;
}

dialog header {
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-block-end: var(--border-input) solid var(--color-separator);
}

dialog footer {
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-4xs);
  border-block-start: var(--border-input) solid var(--color-separator);
}

dialog > :where(form, article) > div {
  padding: var(--spacing-card);
}

dialog header > h2 {
  font-size: var(--font-size-lg);
}

dialog header > button {
  margin-inline-end: 0;
  margin-inline-start: auto;
}

dialog[open] {
  display: block;
  opacity: 1;
  translate: 0 0;
  @starting-style {
    opacity: 0;
    translate: 0 25vh;
  }
}

dialog[open]::backdrop {
  display: none;
}



dialog header > button[aria-label] {
 padding: unset;
 border-radius: var(--radius-pill);
  aspect-ratio: 1;
  min-height: unset;
  position: relative;
  display: grid;
  place-items: center;
  block-size: 3rem;
  inline-size: 3rem;
}

dialog header > button[aria-label]::after {
  content: "";
  font-size: 1.25em;
  height: 1em;
  width: 1em;
  display: inline-flex;
  mask-image: var(--icon-x);
  mask-size: contain;
  mask-repeat: no-repeat;
  background-color: currentColor;
}


body:has(dialog) {
  transition-property: filter;
  transition-duration: 400ms;
  transition-behavior: allow-discrete;
}

body:has(dialog[open]) {
  overflow: clip;
  overscroll-behavior: contain;
  filter: blur(5px) grayscale(1);
  @starting-style {
    filter: blur(0px) grayscale(0);
  }
}
