[popover] {
  border: var(--border-width-input) solid var(--color-separator);
  border-radius: var(--radius-input);
  box-shadow: var(--shadow-3);
  background-color: var(--color-surface-bright);
  padding: 0;
 
}

[popovertarget="menu"] {
  anchor-name: --menu;
}

nav[popover] {
  position: absolute;
  margin: 0;
  margin-block-start: var(--spacing-sibling);
  position-anchor: --menu;
  left: anchor(--menu left);
  top: anchor(--menu bottom);
}

nav[popover] ul {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-input-block) var(--spacing-input-inline);
  min-inline-size: 20ch;

}

nav[popover] li {
  display: flex;
}

/* Define starting and ending states */
[popover] {
  opacity: 0;
  transform: translateY(calc(-1 * var(--spacing-sibling)));
  transform-origin: center bottom;
  transition-duration: 400ms;
  transition-behavior: allow-discrete;
  
}


[popover]:popover-open {
  transition: opacity, transform;
  transition-duration: 400ms;
  opacity: 1;
  transform: translateY(0);
  @starting-style {
    opacity: 0;
    transform: translateY(calc(-1 * var(--spacing-sibling)));
  }
}



