/* 
SOL Reset
Somewhere between reset and normalize

Sources: 
SET Studio [https://piccalil.li/blog/a-more-modern-css-reset/]
Open Props Normalize [https://github.com/argyleink/open-props/blob/main/src/extra/normalize.src.css]
Normalize CSS [https://github.com/necolas/normalize.css/blob/master/normalize.css]
CSS Remedy [https://github.com/jensimmons/cssremedy]
Josh Comeau [https://www.joshwcomeau.com/css/custom-css-reset/]

*/


/* 
1. Prevent padding and border from affecting element width. 
2. Remove odd text zoom on touch devices  
3. Remove iOS tap color
4. Add intrinsic size transitions 
5. Respect user font size settings
*/
:where(html) {
  /* 1 */
  box-sizing: border-box;
  /* 2 */
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  /* 3 */
  -webkit-tap-highlight-color: transparent;
  /* 4 */
  interpolate-size: allow-keywords;
  /* 5 */
  font-size: max(1em, 20px);
}

/* 
Inherit the box sizing rule from the html element. 
*/
:where(*, *::before, *::after) {
  box-sizing: inherit;
}


/* 
1. Remove margin
2. Set to smallest vertical height if content block size is less than HTML height
3. Set max width
4. Set unified text rendering appearance
5. Set default font family
6. Set default line height
7. Prevent words from overflow
8. Prevents layout shift
*/
:where(body) {
  /* 1 */
  margin: 0;
  /* 2 */
  min-block-size: 100svh;
  /* 3 */
  /* max-inline-size: 100%; */
  /* 4 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* 5 */
  font-family: system-ui, sans-serif;
  /* 6 */
  line-height: 1.5;
  /* 7 */
  overflow-wrap: break-word;
  /* 8 */
  scrollbar-gutter: stable;
  
}

/* Remove default margin */
:where(figure) {
  margin-inline: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, ul, ol, hr, pre) {
  margin-block: 0;
}

/* Better leading on large headlines */
:where(h1, h2, h3, h4) {
  line-height: calc(1em + 0.5rem);
}

/* 
Balance headlines 
*/
:where(h1, h2, h3, h4, h5) {
  text-wrap: balance;
}

/* 
1. Remove indentation on styled lists 
2. Remove list type appearance for non-technical list items
*/
:where(ul[role="list"], ol[role="list"]) {
  /* 1 */
  padding-inline: 0;
  /* 2 */
  list-style-type: none;
  
}

/* 
Make anchor and abbreviated elements more legible
*/
:where(a:not([class]), u, ins, abbr) {
  text-decoration-skip-ink: auto;
  text-underline-offset: 0.2ex;
}

/* 
Unify text size across browsers  
*/
:where(small) {
  font-size: 75%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/
:where(sub, sup) {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

:where(sub) {
  bottom: -0.25em;
}

:where(sup) {
  top: -0.5em;
}

/* Set uniform font size on code */
:where(code) {
  font-family: ui-monospace, monospace;
  font-size: 1em;
}

/* Preserve intrinsic aspect ratio. */
:where(img, svg, video, canvas) {
  max-inline-size: 100%;
  block-size: auto;
}

/* Remove awkward space */
:where(img, video, canvas, audio, iframe, embed, object) {
  display: block;
}

/* Make the image element easier to target */
:where(picture) {
  display: contents;
}

:where(source) {
  display: none;
}

/* 
1. Remove gaps 
2. Correct color consistency
*/
:where(table) {
  border-collapse: collapse;
  /* 1 */
  border-color: currentcolor;
  /* 2 */
}

/* Normalize border on buttons for accessibility */
:where(button) {
  border: 1px solid transparent;
}

/* Inherit fonts for inputs and buttons */
:where(input, button, textarea, select) {
  font: inherit;
  color: inherit;
}

/* Normalize separator appearance */
:where(hr) {
  border-style: solid;
  border-width: 1px 0 0;
  color: inherit;
  height: 0;
}

/* Provide cursor indicators for interactive elements */
:where(
    button,
    summary,
    [type="submit"],
    [type="reset"],
    [type="button"],
    [role="button"],
    ::-webkit-file-upload-button,
    ::file-selector-button
  ) {
  cursor: pointer;
}

/* Webkit: Apply default button appearance */
:where(
    button,
    [type="button"],
    [type="reset"],
    [type="submit"],
    ::-webkit-file-upload-button
  ) {
  -webkit-appearance: button;
}

/* Webkit: Fix search field appearance */
:where([type="search"]) {
  -webkit-appearance: textfield;
  appearance: textfield;
}

:where([type="search"]::-webkit-search-decoration) {
  -webkit-appearance: none;
}

/* Webkit: Fix font size */
:where(::-webkit-file-upload-button) {
  font: inherit;
}

:where([type="number"]) {
  height: auto;
}

/*
Add the correct vertical alignment
*/

:where(progress) {
  vertical-align: middle;
}

/* Allow page top breathing room */
:where(:target) {
  scroll-margin-top: 2rlh;
}

/* Provide visual feedback for disabled elements */
:where(:disabled) {
  cursor: not-allowed;
}

/* Adds smooth scrolling only to targets */
@media (prefers-reduced-motion: no-preference) {
  :where(html:focus-within) {
    scroll-behavior: smooth;
  }
}

/* Removes default margin and centers the element */
:where(dialog) {
  margin: auto;
}

/* Add consistent, intrinsic alignment */
:where(ol, ul):not([role="list"]) {
  padding-inline-start: 2em;
}

:where(ol, ul):not([role="list"]) :where(ol, ul):not([role="list"]) {
  padding-inline-start: 1em;
}

/* Better indicators for nested list items */
:where(ol):not([role="list"]) :where(ol):not([role="list"]) {
  list-style-type: upper-alpha;
}

:where(ul):not([role="list"]) :where(ul):not([role="list"]) {
  list-style-type: disc;
}

/* Reset and provide intrinsic alignment */
:where(blockquote) {
  margin-inline-start: 0;
  padding-inline-start: 1em;
  border-inline-start: 2px solid currentColor;
}
